body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  /* width: 85%; */
  width: 960px;
  margin: 0 auto;
  background: #fff url(img/coluna.png) repeat-y left top;
  min-width: 670px;
  max-width: 960px;
}

.marca {
  width: 100%;
  height: 200px;
  background: #225992 url(img/cabecalho2.jpg) no-repeat center;
  text-align: center;
  line-height: 200px;
}

/* .imagem {
  width: 90%;
  overflow: hidden;
} */

.conteudo-secundario h1,
.conteudo-secundario h2,
.conteudo-secundario h3,
.conteudo-secundario p {
  padding-left: 20px;
  padding-right: 20px;
}

.conteudo {
  /* mostra primeiro o conteúdo */
  width: 75%;
  float: right;
}

.conteudo-principal {
  width: 64%;
  float: left;
}

img.img-noticia {
  width: 90%;
  padding: 2%;
  max-width: 600px;
}

.conteudo-secundario {
  text-align: center;
  width: 36%;
  float: right;
  background: #d1d1d1;
}

.navegacao {
  text-align: center;
  width: 23%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff url(img/coluna.png) repeat-y left top;
  /* background: #d1d1d1; */
}

.navegacao ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navegacao li a {
  text-decoration: none;
}

.rodape {
  text-align: center;
  clear: both;
  background: #c4c4c4;
  padding: 5px;
}